.box {
    width: 550px;
    height: 550px;
    color: #8e8e8e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.border {
    border: 1px dashed #8e8e8e;
}

.border:hover {
    color: #4e4e4e;
    border: 1px dashed #4e4e4e;
}